*{
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}
html{
	height: 100%;
}
body{
	height: 100%;
}
ul,li{
	list-style: none;
}
.musicbtn {
	width: 2rem;
	height: 2rem;
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 1000;
}
.musicbtn img{
	width: 100%;
}
.container{

	background-repeat:no-repeat ;
	background-color: #7cc9e7;
	height: 100%;
	overflow: hidden;
}
.logo{
	width: 3.75rem;
	height: 1.1rem;
	background: url(../img/logo.png) no-repeat 0 0;
	background-size: cover;
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.blackboard{
	margin: 0 auto;
	margin-top: 3rem;
	width: 85%;
	height: 26.7rem;
	background: url(../img/blackboard.png) no-repeat 0 0;
	background-size:100% ;
	position: relative;
}
.bottom-build{
	width: 14.325rem;
	height: 5.15rem;
	position: absolute;
	bottom: .6rem;
	right: .5rem;
	background-image: url(../img/twopagebuild.png);
	background-repeat:no-repeat;
	background-position: bottom right;
	background-size: 100%;
}
.arrow{
	position: absolute;
	bottom: .6rem;
	right: 2rem;
	background-repeat: no-repeat;
	width: 5.375rem;
	height: 9.25rem;
	background-image: url(../img/arrow.png);
	background-size: 100%;
}
.arrownum{
	width: 2.825rem;
	height: 1rem;
	background-image: url(../img/no4.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 2rem; left: 1.2rem;
	animation-delay: 1.5s;
}
.tip{
	width: 7.625rem;
	height: 6.375rem;
	margin: 1.7rem;
	padding: 1.3rem .8rem;
	box-sizing: border-box;
	font-size: .75rem;
	background: url(../img/twopagetips.png) no-repeat;
	background-size:100% ;
	color: #FFF;
	
	
}
.men{
	width: 4.3rem;
	height: 9.025rem;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	background: url(../img/twomen.png) no-repeat;
	background-size:100% ;
}
.menBaton{
	position: absolute;top: -1.4rem;right: -5.7rem;
	width: 6.15rem;
	height: 7.1rem;
	background: url(../img/hand.png) no-repeat;
	background-size: 100%;
	-webkit-animation: hand 1s infinite;
	animation: hand 1s infinite;
}


.rounds{
	margin-left: 1.625rem;
}
.rounds ul{
	overflow: hidden;
}
.rounds ul li{
	float: left;
	width: 2.5rem;
	height: 2.5rem;
	padding: .75rem;
	border-radius: 50%;
	color: #FFF;
	font-size: .75rem;
	text-align: center;
	margin-right: .4rem;
	
}
.blacktext{
	padding-top: 1rem;
	color: #FFF;
	width: 13.25rem;
	font-size: 1rem;
	margin: 1rem auto;
	}
.rounds ul li:nth-child(1){
	background: #fd5f57;
}
.rounds ul li:nth-child(2){
	background: #4c97fe;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	
}
.rounds ul li:nth-child(3){
	background: #fdb157;
	-webkit-animation-delay:2s;
	animation-delay: 2s;
}
.desk{
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	width: 6.625rem;
	height: 5.175rem;
	background: url(../img/desk.png) no-repeat 0 0;
	background-size: 100%;
}
.bglink{
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
}
.flower{
	position:absolute ; top: 150px; left: 100px;
	width: 7.7rem;
	height: 10.875rem;
	background: url(../img/flower.png) no-repeat 0 0;
	background-size: 100%;
	z-index: 100;
}
.flowertip{
	color: #FFF;
	font-size: 1.5rem;
	position: absolute; bottom: 220px;left: 50px;
}
.drophere{
	width: 6rem;
	height: 7.1rem;
	background: url(../img/drop.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute; bottom: 100px;left: 50px;
}


@-webkit-keyframes hand{
	from{
		-webkit-transform: rotate(-10deg);
		transform-origin: left bottom;
	}
	to{
		-webkit-transform: rotate(0deg);
		transform-origin: left bottom;
	}
}





@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.fourpage img{
	width: 80%;
	margin: 3rem 10%;
}
.chart{
	width: 50%;
	margin-top: 5rem;
	position: relative;
}
.redchart {
	position: absolute;
	bottom: -.75rem;
	right: 0;
}
.chart img{
	width: 8.15rem;
}
.orangechart{
	position: absolute;
	bottom: -1.15rem;
	right: -8.3rem
}
.yellowchart{
	position: absolute;
	top: 0;
	right: 0
}
.greenchart{
	position: absolute;
	top: .2rem;
	right: 0
}
.yellowchart img{
	width: 8.9rem;
}
.greenchart img{
	width: 6.8rem;
}
.bluechart{
	position: absolute;
	top: .1rem;
	right: -8.3rem
}
.page4text{
	margin-top: 12rem;
}
.page4text img{
	margin-left: 7rem;
	width: 8.3rem;
}

.sixpage .title{
	margin-top: 3rem;
}
.sixpage .title img {
    width: 11rem;
    margin: 0 auto;
    display: block;
}
.sixcontent img{
	margin: 0 auto;
	margin-top: 1rem;
	display: block;
	width: 13.7rem;
}
.sixtext img{
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
	width: 15.3rem;
	
}

.sixbottom img{
	display: block;
	width: 16.55rem;
	margin: 0 auto;
	margin-top: 1rem;
	
}
.eighttitle img{
	display: block;
	width: 90%;
	margin: 0rem auto;
	margin-top: 3rem;
}
.eightcontent img{
	width: 90%;
	display: block;
	margin: 1rem auto;
}
.eightbottom{
	position: absolute;
	bottom: 0;left: 0;
}
.eightbottom img{
	width: 100%;
}


.tentitle img{
	display: block;
	width: 90%;
	margin: 0rem auto;
	margin-top: 3rem;
}
.tencontent img{
	width: 90%;
	display: block;
	margin: 1rem auto;
}
.tentbottom{
	position: absolute;
	bottom: 0;left: 0;
}
.tentbottom img{
	display: block;
	width: 90%;
	margin: 0 auto;
}
.twelvetitle{
	padding-top: 1rem;
}
.twelvetitle img{
	width: 60%;
	display: block;
	margin: 0rem auto;
}
.twelvetext1 img{
	display: block;
	width: 90%;
	margin: 1rem auto;
}
.twelvetext2 img{
	display: block;
	width: 60%;
	float: right;
	margin: 1rem;
}
.twelvemiddle img{
	width: 90%;
	display: block;
	margin: 0 auto;
}
.twelvepage .blackboard{
	margin: 0 auto;
	margin-top: 3rem;
	width: 90%;
	height: 28rem;
	background: url(../img/blackboard.png) no-repeat 0 0;
	background-size:100% ;
	position: relative;
}


/*end*/
#end{
	_background:#dff3f8 url(../img/bg.png);
	background:#dff3f8 url(../img/bg.png);
	background-repeat:no-repeat;
	background-size: 100%;
	height: 100%;
	overflow-x:hidden; 
	position: relative;
}
.back{
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}
.back img{
	width: 100%;
}
.text{
	position: absolute;top: 7rem;
	right:12.25% ;
	width: 85%;
	height: 10rem;
	background: url(../img/ntxet.png) no-repeat 0 0;
	background-size:100% ;
	margin: 1rem auto;
}

.yun{
	position: absolute;top: 15rem;
	right:-16rem ;
	width: 85%;
	height: 10rem;
	background: url(../img/yun.png) no-repeat 0 0;
	background-size:100% ;
	margin: 1rem auto;

}
pre{
    font-weight: bold;
    font-size: .8rem;
    color: #fff;
    margin-left: 6.8rem;
    /*margin-top: 3.6rem;*/
}
#we{
/*	border: #fff;
	background-color: transparent;*/
	font-weight: bold;
	font-size: 1.6rem;
	color: #fff;
/*	display: inline-block;
	width: 3.6rem;
	margin-top: 5rem;
	margin-left: 8rem;*/
	/*margin-left: 11rem;
	position: absolute;*/
	/*margin-top: 5rem;*/
}
#end .builds{
	width: 100%;
	height: 16rem;
	position: absolute;bottom: 0;left: 0;
}
#end .builds .build1{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	width: 100%;
	height: 100%;
	position: absolute;left: 0;bottom: 0rem;
	background: url(../img/building1.png) no-repeat;
	background-position: bottom left;
	background-size: 100%;
}
#end .builds .build2{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	width: 100%;
	height: 100%;
	position: absolute;left: 0;bottom: 0rem;
	background: url(../img/building2.png) no-repeat;
	background-position: bottom left;
	background-size: 90% ;
}

#end .roate{
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
	position: absolute;top: 7rem;
	right:2rem ;
	width: 11.125rem;
	height: 12.825rem;
	background-image: url(../img/sanjiao.png);
	background-size: 100%;
	transform-origin: center;
	-webkit-transform: scale(1, 1);
}

#end .xuanhaun{
	
	-webkit-animation: myfirst 6s 1 ease-in-out;
	-webkit-animation-direction:alternate; 
/*	-webkit-animation-delay:1s;
	-webkit-animation-fill-mode: forwards; */
}
@-webkit-keyframes myfirst
{
0%   {-webkit-transform: translate(-20rem,.5rem);}

100% {-webkit-transform: translate(-40rem,0);
}
}
.rote{
	-webkit-animation: rubberBand 10s ;
-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(0.35, 0.35);  
  }

  30% {
    -webkit-transform: scale(0.55, 0.55) rotate(20deg);
  }

  60% {
    -webkit-transform: scale(0.75, 0.75)  rotate(45deg);
  }

 100% {
    -webkit-transform: scale(1, 1);
  }
}
.erimg{
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
	position: absolute;
	left: 0;
	width: 100%;
	top: 16rem;
}
.erimg img{
	width: 40%;
	display: block;
	margin: 0 auto;
}
.endword{
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
	 width: 100%;
	 position: absolute;
	 top: 13.5rem;
	 left: 0;
}
.endword img{
	width: 6rem;
	float: right;
	margin-right: 2.2rem;
}


.paused{
	-webkit-animation-play-state:paused;

}